In [2]:
import pandas as pd

ratings = pd.read_csv('data/ratings_movies.csv', sep=',')
ratings

,Unnamed: 0,userId,movieId,rating,date,title,genres
0,0,1,1,4.0,2000-07-30 18:45:03,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,1,3,4.0,2000-07-30 18:20:47,Grumpier Old Men (1995),Comedy|Romance
2,2,1,6,4.0,2000-07-30 18:37:04,Heat (1995),Action|Crime|Thriller
3,3,1,47,5.0,2000-07-30 19:03:35,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,4,1,50,5.0,2000-07-30 18:48:51,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
...,...,...,...,...,...,...,...
100831,100831,610,166534,4.0,2017-05-03 21:53:22,Split (2017),Drama|Horror|Thriller
100832,100832,610,168248,5.0,2017-05-03 22:21:31,John Wick: Chapter Two (2017),Action|Crime|Thriller
100833,100833,610,168250,5.0,2017-05-08 19:50:47,Get Out (2017),Horror
100834,100834,610,168252,5.0,2017-05-03 21:19:12,Logan (2017),Action|Sci-Fi
100835,100835,610,170875,3.0,2017-05-03 21:20:15,The Fate of the Furious (2017),Action|Crime|Drama|Thriller

In [3]:
import re 
def get_year_release(arg):
    #находим все слова по шаблону "(DDDD)"
    candidates = re.findall(r'\(\d{4}\)', arg) 
    # проверяем число вхождений
    if len(candidates) > 0:
        #если число вхождений больше 0,
	#очищаем строку от знаков "(" и ")"
        year = candidates[0].replace('(', '')
        year = year.replace(')', '')
        return int(year)
    else:
        #если год не указан, возвращаем None
        return None
ratings['year_release'] = ratings['title'].apply(get_year_release)
ratings['year_release'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 100836 entries, 0 to 100835
Series name: year_release
Non-Null Count   Dtype
--------------   -----
100818 non-null  float64
dtypes: float64(1)
memory usage: 787.9 KB

In [4]:
ratings[ratings['year_release'] == 1999.0].min()

Unnamed: 0                                    162
userId                                          1
movieId                                      2436
rating                                        0.5
date                          1999-02-14 00:07:06
title           10 Things I Hate About You (1999)
genres                                     Action
year_release                               1999.0
dtype: object

In [5]:
ratings['genres'].nunique()
movies_2010 = ratings[ratings['year_release'] == 2010.0]
movies_2010_grouped = movies_2010.groupby(by='genres').mean(numeric_only=True).sort_values(by='rating')
movies_2010_grouped

,Unnamed: 0,userId,movieId,rating,year_release
genres,,,,,
Action|Sci-Fi,30179.000000,210.000000,189547.0,1.000000,2010.0
Action|Adventure|Horror,58805.000000,382.000000,93139.0,1.500000,2010.0
Action|Drama|Fantasy,69997.000000,448.000000,91273.0,1.500000,2010.0
Crime|Romance,69905.000000,448.000000,82093.0,1.500000,2010.0
Adventure|Comedy|Fantasy,44756.333333,291.333333,82854.0,1.833333,2010.0
...,...,...,...,...,...
Crime,5713.500000,40.000000,185135.0,4.750000,2010.0
Adventure|Children|Comedy|Mystery,13843.000000,89.000000,85295.0,5.000000,2010.0
Animation|Children|Mystery,13930.000000,89.000000,118894.0,5.000000,2010.0
Animation|Drama|Fantasy|Mystery,56127.000000,371.000000,112512.0,5.000000,2010.0
Comedy|Musical,25753.000000,177.000000,93008.0,5.000000,2010.0

Какой пользователь (userId) посмотрел наибольшее количество различных (уникальных) комбинаций жанров (genres) фильмов? В качестве ответа запишите идентификатор этого пользователя.

In [6]:
max_movies = ratings.groupby('userId')['genres'].count().max()
ratings.loc['']

KeyError: ''

In [ ]:
ratings.groupby('userId')['rating'].agg('describe').sort_values(by = ['count', 'mean'], ascending= [True, False])

         count      mean       std  min   25%  50%    75%  max
userId
53        20.0  5.000000  0.000000  5.0  5.00  5.0  5.000  5.0
595       20.0  4.200000  0.833509  2.0  4.00  4.0  5.000  5.0
189       20.0  4.100000  0.347926  3.5  4.00  4.0  4.125  5.0
569       20.0  4.000000  0.725476  3.0  3.75  4.0  4.250  5.0
278       20.0  3.875000  0.985086  1.5  3.00  4.0  4.625  5.0
...        ...       ...       ...  ...   ...  ...    ...  ...
274     1346.0  3.235884  0.761703  0.5  3.00  3.5  3.500  5.0
448     1864.0  2.847371  1.029706  0.5  2.00  3.0  3.500  5.0
474     2108.0  3.398956  0.830847  0.5  3.00  3.5  4.000  5.0
599     2478.0  2.642050  0.815300  0.5  2.00  2.5  3.000  5.0
414     2698.0  3.391957  0.933307  0.5  3.00  3.5  4.000  5.0

[610 rows x 8 columns]

Найдите сочетание жанров (genres) за 2018 год, которое имеет наибольший средний рейтинг (среднее по столбцу rating), и при этом число выставленных ему оценок (количество значений в столбце rating) больше 10.
Запишите сочетание так же, как оно указано в таблице (через разделитель |, без пробелов).

In [ ]:
ratings_2018 = ratings[ratings['year_release'] == 2018.0]
ratings_2018.groupby('genres')['rating'].agg('describe').sort_values(by = ['count', 'mean'], ascending= [False, True])

,count,mean,std,min,25%,50%,75%,max
genres,,,,,,,,
Action|Adventure|Sci-Fi,14.0,3.928571,1.141139,1.5,3.250,4.25,4.875,5.0
Action|Comedy|Sci-Fi,12.0,3.875000,1.227062,1.0,3.375,4.00,5.000,5.0
Comedy,8.0,3.312500,0.961305,1.5,2.875,3.50,4.000,4.5
Animation|Comedy,5.0,3.500000,1.274755,1.5,3.500,3.50,4.000,5.0
Action|Adventure|Children|Sci-Fi,5.0,3.900000,0.741620,3.0,3.500,4.00,4.000,5.0
Action|Adventure|Fantasy,4.0,2.500000,1.354006,0.5,2.375,3.00,3.125,3.5
Drama|Horror|Thriller,4.0,2.750000,1.755942,1.0,1.375,2.75,4.125,4.5
Action|Adventure|Animation|Children,4.0,3.000000,1.414214,1.0,2.500,3.50,4.000,4.0
Action|Adventure|Comedy|Fantasy|Sci-Fi,3.0,3.666667,0.577350,3.0,3.500,4.00,4.000,4.0
Adventure|Mystery|Sci-Fi|Thriller,3.0,3.833333,0.288675,3.5,3.750,4.00,4.000,4.0
Horror|Mystery|Sci-Fi|Thriller,2.0,2.250000,2.474874,0.5,1.375,2.25,3.125,4.0
Action|Fantasy|Sci-Fi,2.0,2.750000,0.353553,2.5,2.625,2.75,2.875,3.0
Action|Adventure|Drama|Sci-Fi|Thriller,2.0,3.250000,1.060660,2.5,2.875,3.25,3.625,4.0
Comedy|Drama,2.0,3.250000,1.060660,2.5,2.875,3.25,3.625,4.0
Action|Adventure|Thriller,2.0,3.750000,0.353553,3.5,3.625,3.75,3.875,4.0
Documentary,2.0,4.000000,1.414214,3.0,3.500,4.00,4.500,5.0
Crime|Drama|Mystery|Thriller,1.0,1.500000,NaN,1.5,1.500,1.50,1.500,1.5
Drama|Fantasy|Thriller,1.0,2.000000,NaN,2.0,2.000,2.00,2.000,2.0
Action|Crime|Thriller,1.0,2.500000,NaN,2.5,2.500,2.50,2.500,2.5
Comedy|Crime|Drama,1.0,2.500000,NaN,2.5,2.500,2.50,2.500,2.5
Action|Comedy,1.0,3.000000,NaN,3.0,3.000,3.00,3.000,3.0
Adventure|Children|Fantasy|Sci-Fi,1.0,3.000000,NaN,3.0,3.000,3.00,3.000,3.0
Action|Animation,1.0,3.500000,NaN,3.5,3.500,3.50,3.500,3.5
Action|Mystery|Sci-Fi|Thriller,1.0,3.500000,NaN,3.5,3.500,3.50,3.500,3.5
Crime|Drama,1.0,3.500000,NaN,3.5,3.500,3.50,3.500,3.5
Horror|Mystery|Thriller,1.0,3.500000,NaN,3.5,3.500,3.50,3.500,3.5
Sci-Fi|Thriller,1.0,3.500000,NaN,3.5,3.500,3.50,3.500,3.5
Action|Comedy|Crime|Horror,1.0,4.000000,NaN,4.0,4.000,4.00,4.000,4.0
Action|Crime|Drama|Thriller,1.0,4.000000,NaN,4.0,4.000,4.00,4.000,4.0
Adventure|Comedy|Fantasy,1.0,4.500000,NaN,4.5,4.500,4.50,4.500,4.5
Adventure|Thriller,1.0,4.500000,NaN,4.5,4.500,4.50,4.500,4.5
Comedy|Fantasy|Sci-Fi,1.0,4.500000,NaN,4.5,4.500,4.50,4.500,4.5
Comedy|Romance,1.0,4.500000,NaN,4.5,4.500,4.50,4.500,4.5

Добавьте в таблицу новый признак year_rating — год выставления оценки. Создайте сводную таблицу, которая иллюстрирует зависимость среднего рейтинга фильма от года выставления оценки и жанра. Выберите верные варианты ответа, исходя из построенной таблицы:

In [ ]:
display(ratings)

,Unnamed: 0,userId,movieId,rating,date,title,genres,year_release
0,0,1,1,4.0,2000-07-30 18:45:03,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995.0
1,1,1,3,4.0,2000-07-30 18:20:47,Grumpier Old Men (1995),Comedy|Romance,1995.0
2,2,1,6,4.0,2000-07-30 18:37:04,Heat (1995),Action|Crime|Thriller,1995.0
3,3,1,47,5.0,2000-07-30 19:03:35,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,1995.0
4,4,1,50,5.0,2000-07-30 18:48:51,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,1995.0
...,...,...,...,...,...,...,...,...
100831,100831,610,166534,4.0,2017-05-03 21:53:22,Split (2017),Drama|Horror|Thriller,2017.0
100832,100832,610,168248,5.0,2017-05-03 22:21:31,John Wick: Chapter Two (2017),Action|Crime|Thriller,2017.0
100833,100833,610,168250,5.0,2017-05-08 19:50:47,Get Out (2017),Horror,2017.0
100834,100834,610,168252,5.0,2017-05-03 21:19:12,Logan (2017),Action|Sci-Fi,2017.0
100835,100835,610,170875,3.0,2017-05-03 21:20:15,The Fate of the Furious (2017),Action|Crime|Drama|Thriller,2017.0

In [ ]:
#шаг 1 - выцепляем год выставления рейтинга из таблицы
ratings['date'] = pd.to_datetime(ratings['date'], dayfirst=False)
ratings['year_rating'] = ratings['date'].dt.year
#шаг 2 - отвечаем на вопросы

A За весь период (с 1996 по 2018 год) сочетание жанров Action|Adventure ни разу не получало среднюю оценку ниже 3. - False

In [ ]:
action_adv_rating = ratings[ratings['genres'] == 'Action|Adventure']['rating'].min()
action_adv_rating

np.float64(0.5)

B Наилучшую оценку жанр Action|Adventure|Animation|Children|Comedy|IMAX получил в 2010 году.

In [ ]:
ratings[ratings['genres'] == 'Action|Adventure|Animation|Children|Comedy|IMAX'].value_counts()

TypeError: Series.sort_values() got an unexpected keyword argument 'by'

C Среди сочетаний жанров, получивших наивысшую среднюю оценку в 2018 году, есть сочетание Animation|Children|Mystery.

In [ ]:
ratings_2018 = ratings[ratings['year_rating'] == 2018]
ratings_2018.groupby('genres')['rating'].agg('describe').sort_values(by = 'mean', ascending=False).head(20)

,count,mean,std,min,25%,50%,75%,max
genres,,,,,,,,
Comedy|Fantasy|Horror|Musical|Thriller,1.0,5.0,NaN,5.0,5.0,5.0,5.0,5.0
Animation|Comedy|Fantasy|Musical,1.0,5.0,NaN,5.0,5.0,5.0,5.0,5.0
Comedy|Crime|Fantasy,1.0,5.0,NaN,5.0,5.0,5.0,5.0,5.0
Animation|Comedy|Drama|Fantasy|Sci-Fi,1.0,5.0,NaN,5.0,5.0,5.0,5.0,5.0
Mystery|Romance|Sci-Fi|Thriller,1.0,5.0,NaN,5.0,5.0,5.0,5.0,5.0
Action|Crime|Thriller|Western,1.0,5.0,NaN,5.0,5.0,5.0,5.0,5.0
Romance|Sci-Fi,1.0,5.0,NaN,5.0,5.0,5.0,5.0,5.0
Crime|Mystery,3.0,5.0,0.0,5.0,5.0,5.0,5.0,5.0
Animation|Comedy|Drama,3.0,5.0,0.0,5.0,5.0,5.0,5.0,5.0
Animation|Children|Mystery,1.0,5.0,NaN,5.0,5.0,5.0,5.0,5.0
Action|Comedy|Documentary,2.0,5.0,0.0,5.0,5.0,5.0,5.0,5.0
Drama|Horror|Mystery|Sci-Fi|Thriller,2.0,5.0,0.0,5.0,5.0,5.0,5.0,5.0
Action|Crime|Sci-Fi|Thriller,1.0,5.0,NaN,5.0,5.0,5.0,5.0,5.0
Comedy|Drama|Fantasy|Mystery|Romance,1.0,5.0,NaN,5.0,5.0,5.0,5.0,5.0
Crime|Fantasy|Horror,1.0,5.0,NaN,5.0,5.0,5.0,5.0,5.0
Comedy|Crime|Horror|Thriller,1.0,5.0,NaN,5.0,5.0,5.0,5.0,5.0
Animation|Crime|Drama,1.0,5.0,NaN,5.0,5.0,5.0,5.0,5.0
Drama|Romance|War,1.0,5.0,NaN,5.0,5.0,5.0,5.0,5.0
Comedy|Horror|Mystery,1.0,5.0,NaN,5.0,5.0,5.0,5.0,5.0
Adventure|Fantasy|Musical,1.0,5.0,NaN,5.0,5.0,5.0,5.0,5.0

Для жанра Comedy прослеживается тенденция падения рейтинга с каждым годом (с 1996 по 2018).

In [ ]:
comedy_genre_ratings = ratings[ratings['genres'] == 'Comedy']
comedy_genre_ratings.groupby('year_rating')['rating'].agg('describe').sort_values(by = 'year_rating', ascending= True).head(20)

             count      mean       std  min  25%  50%  75%  max
year_rating
1996         420.0  3.228571  1.063673  1.0  3.0  3.0  4.0  5.0
1997         198.0  3.409091  0.900828  1.0  3.0  3.0  4.0  5.0
1998          19.0  3.000000  1.054093  1.0  2.0  3.0  4.0  5.0
1999         165.0  3.606061  1.198052  1.0  3.0  4.0  5.0  5.0
2000         821.0  3.141291  1.174739  1.0  2.0  3.0  4.0  5.0
2001         402.0  3.318408  1.137925  1.0  3.0  3.0  4.0  5.0
2002         277.0  3.198556  1.139030  1.0  2.0  3.0  4.0  5.0
2003         304.0  3.120066  1.137230  0.5  2.0  3.0  4.0  5.0
2004         269.0  3.356877  0.980671  0.5  3.0  3.5  4.0  5.0
2005         409.0  2.963325  1.121263  0.5  2.5  3.0  4.0  5.0
2006         223.0  3.347534  0.936776  0.5  3.0  3.5  4.0  5.0
2007         557.0  2.928187  1.055243  0.5  2.0  3.0  3.5  5.0
2008         300.0  3.426667  0.976114  0.5  3.0  3.5  4.0  5.0
2009         322.0  3.273292  1.057462  0.5  3.0  3.5  4.0  5.0
2010         114.0  3.179825  1.045697  0.5  2.5  3.5  4.0  5.0
2011          73.0  3.232877  1.121390  0.5  2.5  3.5  4.0  5.0
2012         302.0  3.478477  0.991844  0.5  3.0  3.5  4.0  5.0
2013          95.0  3.489474  1.184966  0.5  2.5  3.5  4.5  5.0
2014         105.0  3.271429  0.874391  1.0  2.5  3.5  4.0  5.0
2015         372.0  3.106183  1.135148  0.5  2.5  3.0  4.0  5.0

Часть 2

In [20]:
orders = pd.read_csv('data/orders.csv', sep=';')
orders.head()

,Дата создания,Order ID,ID Покупателя,Статус,Оплачен,Отменен,Отгружен,ID товара,Количество
0,09.11.2019 21:55:51,9,10,"Принят, ожидается оплата",Нет,Нет,Нет,103,5
1,09.11.2019 15:05:57,8,9,"Принят, ожидается оплата",Нет,Нет,Нет,86,100
2,09.11.2019 15:05:57,8,9,"Принят, ожидается оплата",Нет,Нет,Нет,104,10
3,09.11.2019 12:50:07,7,8,"Принят, ожидается оплата",Нет,Нет,Нет,104,7
4,09.11.2019 12:00:00,6,1,"Принят, ожидается оплата",Нет,Нет,Нет,104,5

In [21]:
products = pd.read_csv('data/products.csv', sep=';')
products.head()

   Product_ID                      Name  Price CURRENCY
0          47      Шатны Полосатый рейс   2999      RUR
1          51  Платье Аленький цветочек   4999      RUR
2          53    Штаны Цветочная Поляна   4999      RUR
3          71       Платье Ночная Жизнь   7999      RUR
4          74  Платье Ночная Жизнь XXXL   8999      RUR

In [25]:
orders_products = orders.merge(
    products,
    how='left',
    left_on='ID товара',
    right_on='Product_ID'
)
orders_products

,Дата создания,Order ID,ID Покупателя,Статус,Оплачен,Отменен,Отгружен,ID товара,Количество,Product_ID,Name,Price,CURRENCY
0,09.11.2019 21:55:51,9,10,"Принят, ожидается оплата",Нет,Нет,Нет,103,5,103.0,"Носки Подарочные, муж",199.0,RUR
1,09.11.2019 15:05:57,8,9,"Принят, ожидается оплата",Нет,Нет,Нет,86,100,86.0,"Носки Простые, муж",45.0,RUR
2,09.11.2019 15:05:57,8,9,"Принят, ожидается оплата",Нет,Нет,Нет,104,10,104.0,"Носки Подарочные, жен",249.0,RUR
3,09.11.2019 12:50:07,7,8,"Принят, ожидается оплата",Нет,Нет,Нет,104,7,104.0,"Носки Подарочные, жен",249.0,RUR
4,09.11.2019 12:00:00,6,1,"Принят, ожидается оплата",Нет,Нет,Нет,104,5,104.0,"Носки Подарочные, жен",249.0,RUR
5,09.11.2019 12:00:00,6,1,"Принят, ожидается оплата",Нет,Нет,Нет,103,5,103.0,"Носки Подарочные, муж",199.0,RUR
6,08.11.2019 08:36:22,5,5,Отменён,Нет,Да,Нет,124,1,124.0,Носки беговые Camino,999.0,RUR
7,08.11.2019 08:36:22,4,9,"Принят, ожидается оплата",Нет,Нет,Да,91,1,91.0,"Носки Честные, муж",50.0,RUR
8,08.11.2019 08:36:22,3,8,"Оплачен, формируется к отправке",Да,Нет,Нет,103,3,103.0,"Носки Подарочные, муж",199.0,RUR
9,08.11.2019 08:36:22,3,8,"Оплачен, формируется к отправке",Да,Нет,Нет,104,3,104.0,"Носки Подарочные, жен",249.0,RUR
10,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,74,1,74.0,Платье Ночная Жизнь XXXL,8999.0,RUR
11,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,53,1,53.0,Штаны Цветочная Поляна,4999.0,RUR
12,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,137,1,137.0,Гольфы детские Снегурочка,99.0,RUR
13,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,47,1,47.0,Шатны Полосатый рейс,2999.0,RUR
14,08.11.2019 08:36:20,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,71,1,71.0,Платье Ночная Жизнь,7999.0,RUR
15,08.11.2019 08:36:20,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,86,1,86.0,"Носки Простые, муж",45.0,RUR
16,08.11.2019 08:36:20,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,51,1,51.0,Платье Аленький цветочек,4999.0,RUR
17,01.01.2001 00:00:00,0,1,"Оплачен, формируется к отправке",Да,Нет,Нет,666,1,NaN,NaN,NaN,NaN

In [41]:
paid_orders = orders_products[orders_products['Оплачен'] == 'Да']
paid_orders['Выручка'] = paid_orders['Количество'] * paid_orders['Price']
paid_orders = paid_orders.drop(17, axis = 0)
paid_orders.groupby(by='ID Покупателя').sum(numeric_only=True)

C:\Users\vladi\AppData\Local\Temp\ipykernel_21144\3770103904.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  paid_orders['Выручка'] = paid_orders['Количество'] * paid_orders['Price']

               Order ID  ID товара  Количество  Product_ID    Price  Выручка
ID Покупателя
5                     3        208           3       208.0  13043.0  13043.0
7                     8        311           4       311.0  17096.0  17096.0
8                     6        207           6       207.0    448.0   1344.0